/* in userContent for all the about:pages of firefox */

@-moz-document url-prefix("about:"),
@-moz-document url-prefix("chrome://mozapps/content/extensions/aboutaddons.html") {
	window,
	page,
	html,
	.main-content,
	scrollbar {
		scrollbar-color: dodgerblue #f0f0f0 ;
		scrollbar-width: thin;
	}
}
/* for anywhere internal pages FF */
* {
	scrollbar-color: dodgerblue #f0f0f0;
	scrollbar-width: thin;
}*/